{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div>
<div class="card mb-3" style="max-width:100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://etimg.etb2bimg.com/photo/91653184.cms" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Our Vision</h5>
        <p class="card-text">The aim of the project is to develop a web application where the system can predict taxi fare in the country.</p>
        <p class="card-text"><small class="text-muted">Taxi Price Prediction</small></p>
      </div>
    </div>
  </div>
</div>
<div > 
</div>
<div style="margin-top:40px;margin-bottom:40px; padding-top:40px;padding-bottom:40px;background-color:rgb(255, 123, 0);
--mask:
radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
-webkit-mask: var(--mask);
      mask: var(--mask);">
  <center><h2 class="p-4"> Meet Our Team</h2></center>
<div class="container-sm" style="margin-bottom:40px; margin-top:10px;">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <img src="../static/img/sonam.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sonam Wangchuk</h5>
          <p class="card-text">Fullstack Developer/UX & UI </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <img src="../static/img/nima.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nima</h5>
          <p class="card-text">UI/UX & Web Developer</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <img src="../static/img/purna.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Purna Kumer</h5>
          <p class="card-text">Data Scientist & UI/UX</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
        <img src="../static/img/tshering.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tshering Deker</h5>
          <p class="card-text">Mobile Developer/UX & UI</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}