@media screen and (min-width: 900px){
    .contact{
        --mask:
        radial-gradient(67.08px at 90.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/100% 120px,
        radial-gradient(67.08px at -60px 50%,#0000 99%,#000 101%) 30px 50%/100% 120px repeat-y;
      -webkit-mask: var(--mask);
              mask: var(--mask);
    }
}